body {
  background-repeat: no-repeat;
  background-position: center;
  background: rgba(203,255,211,0.6);
  color: #000;
}

.navbar-laravel {
  background-color: rgba(204,255,255,0.55);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important; //「laravelの文字装飾」
}

.nav-link {
  color: #000 !important; //「inagaki(logoutリンク)の文字装飾」
}


.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.hr {
  color: #c0c0c0;
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}