body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(203, 255, 211, 0.6);
  color: #000;
  padding: 30px;
  font-family: sans-serif;
}

.image {
  width: 555px;
  height: 400px;
}
h2 {
   font-family: serif;
}

em {
   color: #FF3300;
}

.navbar-laravel {
  background-color: rgba(204,255,255,0.55);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important; //「laravelの文字装飾」
}

.navi-register {
  margin-top: 8;
  vertical-align : middle;
  font-size: 18px;
}

.nav-link {
  color: #000 !important; //「inagaki(logoutリンク)の文字装飾」
}

.table-dark {
  background-color: #fff;
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: rgba(204,255,255,0.55);
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}