body {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/background_image1.jpg?79ee90520c1548d48e0f96ac348ffcf8);
  background-size: 100vw 100%;
  color: #000;
  padding: 30px;
  font-family: sans-serif;
}

.image {
  width: 555px;
  height: 350px;
}

.sample-box {
  position: relative;
}

.first-comment {
  position: relative;
  color: #f5f5f5;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
  position: absolute;
  top: 73%;
  left: 15%;
}

.first-comment:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
}

.second-comment {
  position: relative;
  color: #f5f5f5;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
  position: absolute;
  top: 73%;
  left: 67%;
}

.second-comment:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
}

#RealtimeClockArea {
  font-size: 25px;
}

.navbar-laravel {
  background-color: rgba(204, 255, 255, 0.55);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.hr {
  color: #c0c0c0;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

